body {
    height: 100%;
    font-family: 'Libre Baskerville', serif;
    color: #264B3B;
}

.header, .footer {
    font-family: 'Roboto Mono', sans-serif;
    display: inline-flex;
    width: 100%;
}

.header-container, .footer-container {
    justify-content: space-between;
    align-items: flex-end;
    display: flex;
    padding: 2vw;
    width: 100%;
}

.footer-container {
    border-top: 1px solid;
}

li {
    padding: 2vw 1vw;
}

ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}